:root{
    --color-dark : #27292a;
    --color-darkest : #1F2122;
    --color-light : #FFF;
    --color-primary : #EC6090;

    --color-bg-body : var(--color-darkest);

    --distance-primary : 50px;

    --padding-primary :var(--distance-primary);
    --margin-primary :var(--distance-primary);
    --border-radius-primary :calc(var(--distance-primary) / 2);

    --font-weight-bold : 600px;
}

body{
    background-color: var(--color-bg-body) !important;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}